# AI Models
git+https://github.com/openai/whisper.git
openai

# AI Helpers
nltk

# Terminal Helpers
rich
pyqt6

# Web Helpers
requests

# Audio Video Helpers
yt-dlp

# Document Helpers
python-docx
fpdf